
:root {
  /* COLORS */
  --color-black: #000;
  --color-white: #fff;
  --color-light-gray: #EEEEEE;
  --color-menu-item: #464854;
  --color-blue: #0A47C9;
  --color-gray-text: #606060;
  /* FONTS */
  --font-inter: 'Inter', sans-serif, Helvetica, Arial sans-serif;

  /* SIZES */
  --header-size: 88px;
}

